.loading {
	background: url("../img/loading.gif") no-repeat scroll center rgba(255, 255, 255, 0);
	height: 500px;
}
.thumbnail-img {
	width: 150px;
	height: 150px;
}
#img-thumbnails {
	margin: 0;
	padding: 0;
}
.small img {
	width: 700px;
}
li a.thumbnail:hover{
	background-color: #428bca;
}

